form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 16px;
  width: 250px;
  height: 40px;
  text-align: center;
}

.button {
  border-radius: 16px;
  background: rgb(211, 20, 20);
  /* color: #fff; */
  font-size: 14px;
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.Imagem_login {
  width: 150px;
  height: 150px;
  margin: 0;

  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}
