    .UserCard img{
        border-radius: 4px;
        box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.2);
        height: 128px;
        width: 128px;
        object-fit: cover;
    }

    .name{
        font-size: 1.3rem;
        color: white;
    }

    .UserCard p {
        color: white;
        font-size: 0.8rem;
    }
